<!DOCTYPE html>
<html lang="en">
<head>
    <title>Медицинска карта пользователя</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css" />
    <link type="text/css" rel="stylesheet" href="stylesheets/skin.css" />
</head>
<body class="home">
<div id="wrap">
    <div id="header"> <img src="images/logo.png" />
        <div id="nav">
            <ul class="menu">
                <li ><a href="/home">Главная</a></li>
                <li><a href="/profile">Профиль</a></li>
                <li class="current_page_item"><a href="/carta">Мед.карточка</a></li>
                <li>  <%= username %></li>
            </ul>
        </div>
    </div>
</div>
<!--end wrap-->
</body>
<!--end cache-images-->
</html>