<!DOCTYPE html>
<html lang="en">
<head>
  <title>Akono</title>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="stylesheets/style.css" />
  <link type="text/css" rel="stylesheet" href="stylesheets/skin.css" />
</head>
<body class="home">
<div id="wrap">
  <div id="header"> <img src="images/logo.png" />
    <div id="nav">
      <ul class="menu">
        <li class="current_page_item"><a href="/home">Главная</a></li>
        <li><a href="/profile">Профиль</a></li>
      </ul>
    </div>
    <!--end nav-->
  </div>
  <!--end header-->
  <div id="featured-section">
    <h2>We design original and effective online experiences</h2>
    <div id="circles"> <img class="first" src="images/circle-red.png" /> <img src="images/circle-pink.png" /> <img src="images/circle-orange.png" /> <img src="images/circle-yellow.png" /> </div>
    <!--end circles-->
  </div>
  <!--end featured-section-->
  <div id="frontpage-main">
    <div id="frontpage-content">
      <h3>Why Work With Akono?</h3>
      <p>You’ll not regret getting in touch with us about your new project. Below are some of the benefits.</p>
      <ul class="blue-bullets">
        <li>Over 15 Years Real World Experience</li>
        <li>Voted No. 1 Design Studio In The World</li>
        <li>Support And Guidance At Every Step</li>
        <li>A Great Solution That You&#8217;ll Be Happy With</li>
      </ul>
    </div>
    <!--end frontpage-content-->
    <div id="frontpage-sidebar">
      <h3>Latest Article</h3>
      <a class="blog-title" href="#">Top Tips For Hiring A Design Agency</a>
      <p class="meta">1st May 2011 / <a href="#">No Comments &#187;</a></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
      <a class="read-more" href="#">Read More &raquo;</a> </div>
    <!--end frontpage-sidebar-->
  </div>
  <!--end frontpage-main-->
  <div id="footer">
    <p class="copyright">Copyright &copy; <a href="#">Domain Name</a> - All Rights Reserved / Design By <a target="_blank" href="http://www.chris-creed.com/">Chris Creed</a></p>
  </div>
  <!--end footer-->
</div>
<!--end wrap-->
</body>
<div class="cache-images"><img src="images/red-button-bg.png" width="0" height="0" alt="" /><img src="images/black-button-bg.png" width="0" height="0" alt="" /></div>
<!--end cache-images-->
</html>