<!DOCTYPE html>
<html lang="en">
<head>
  <title>Медицинска карта пользователя</title>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="stylesheets/style.css" />
  <link type="text/css" rel="stylesheet" href="stylesheets/skin.css" />
</head>
<body class="home">
<div id="wrap">
  <div id="header"> <img src="images/logo.png" />
    <div id="nav">
      <ul class="menu">
        <li  class="current_page_item"><a href="/home">
            <img src="images/main.png" class="nav-item-image"/>
            Главная</a></li>
        <li><a href="/profile">
            <img src="images/prof.png" class="nav-item-image"/>
            Профиль</a></li>
        <li><a href="/carta">
            <img src="images/edcart.png" class="nav-item-image"/>
            Мед.карточка</a></li>
        <li>
          <a href="/visit_doctor">
            <img src="images/visitdoc.png" class="nav-item-image"/>
            Визит к врачу</a></li>
        <li>
          <a href="/logout">
            <img src="images/logout.png" class="nav-item-image"/>
            Выйти
          </a>
        </li>
      </ul>
    </div>
</div>
</div>
<!--end wrap-->
</body>
</html>