<!DOCTYPE html>
<html lang="en" xmlns:>
<head>
    <title>Медицинска карта пользователя</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css"/>
    <link type="text/css" rel="stylesheet" href="stylesheets/skin.css"/>
</head>
<body class="home">
<div id="wrap">
    <div id="header"><img src="images/logo.png"/>
        <div id="nav">
            <ul class="menu">
                <li class="current_page_item"><a>Главная</a></li>
                <li><a href="/profile">Профиль</a></li>
                <li><a href="/carta">Мед.карточка</a></li>
                <li><a href="/visit_doctor">Визит к врачу</a></li>
                <li class="nav-item">
                    <img src="images/logout.png" class="nav-item-image"/></li><li><a href="/logout">Выйти</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main">
        <div class="button-containerindex">
            <a href="/login" class="btn-index">Войти</a>
            <a href="/register" class="btn-index">Зарегистрироваться</a>
        </div>
    </div>
</div>
</body>
</html>

