<!DOCTYPE html>
<html lang="en" xmlns:>
<head>
    <title>Медицинска карта пользователя</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css"/>
    <link type="text/css" rel="stylesheet" href="stylesheets/skin.css"/>
</head>
<body class="home">
<div id="wrap">
    <div id="header"><img src="images/logo.png" class="logo"/>
        <div id="nav">
            <ul class="menu">
                <li class="current_page_item"><a>
                        <img src="images/main.png" class="nav-item-image"/>
                        Главная</a></li>
                <li><a href="/profile">
                        <img src="images/prof.png" class="nav-item-image"/>
                        Профиль</a></li>
                <li><a href="/carta">
                        <img src="images/edcart.png" class="nav-item-image"/>
                        Мед.карточка</a></li>
                 <li>
                     <a href="/logout">
                         <img src="images/logout.png" class="nav-item-image"/>
                         Выйти
                     </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main">
        <div class="button-containerindex">
            <a href="/login" class="btn-index">Войти</a>
            <a href="/register" class="btn-index">Зарегистрироваться</a>
        </div>
    </div>
</div>
</body>
</html>

