<!DOCTYPE html>
<html lang="en" xmlns:>
<head>
  <title>Медицинска карта пользователя</title>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="stylesheets/style.css" />
  <link type="text/css" rel="stylesheet" href="stylesheets/skin.css" />
</head>
<body class="home">
<div id="wrap">
  <div id="header"> <img src="images/logo.png" />
    <div id="nav">
      <ul class="menu">
        <li class="current_page_item"><a>Главная</a></li>
      </ul>
    </div>
    <!--end nav-->
  </div>
  <!--end header-->
  <div style="display: block; margin: 0 auto; text-align: center;">
    <a href="/login" style="color: #00ff77;">Please Login Here!</a>
  </div>




  <!--end footer-->
</div>
<!--end wrap-->
</body>

</html>