<!DOCTYPE html>
<html lang="en">
<head>
    <title>Akono</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css" />
    <link type="text/css" rel="stylesheet" href="stylesheets/skin.css" />
</head>
<body class="home">
<div id="wrap">
    <div id="header"> <img src="images/logo.png" />
        <div id="nav">
            <ul class="menu">
                <li class="current_page_item"><a>Главная</a></li>
                <li><a>Профиль</a></li>
            </ul>
        </div>
        <!--end nav-->
    </div>
    <!--end header-->

    <div>
        <form action="login" method="post">
            <div>
                <label for="username" >
                    Логин
                </label>
                <input type="text" name="username" id="username" placeholder="Логин" autocomplete="username" required>
            </div>
            <div class="form-group">
                <label >Пароль</label>
                <input type="password" name="password" id="password" value=""  placeholder="Пароль" autocomplete="current-password" required>
            </div>
            <button type="submit">Вход</button>
        </form>
    </div>
    <div id="footer">
        <p class="copyright">Copyright &copy; <a href="#">Domain Name</a> - All Rights Reserved / Design By <a target="_blank" href="http://www.chris-creed.com/">Chris Creed</a></p>
    </div>
    <!--end footer-->
</div>
<!--end wrap-->
</body>
<div class="cache-images"><img src="images/red-button-bg.png" width="0" height="0" alt="" /><img src="images/black-button-bg.png" width="0" height="0" alt="" /></div>
<!--end cache-images-->
</html>