<!DOCTYPE html>
<html lang="en">
<head>
    <title>Медицинска карта пользователя</title>
    <meta charset="utf-8">
    <link type="text/css"  rel="stylesheet" href="/stylesheets/style.css" />
    <link type="text/css" link rel="stylesheet" href="/stylesheets/skin.css" />
</head>
<body class="home">
<div id="wrap">
    <div id="header"> <img src="/images/logo.png" />
        <div id="nav">
            <ul class="menu">
                <li><a href="/home">
                        <img src="/images/main.png" class="nav-item-image"/>
                        Главная</a></li>
                <li ><a href="/profile">
                        <img src="/images/prof.png" class="nav-item-image"/>
                        Профиль</a></li>
                <li><a href="/carta" class="current_page_item">
                        <img src="/images/edcart.png" class="nav-item-image"/>
                        Мед.карточка</a></li>
                <li>
                    <a href="/logout">
                        <img src="/images/logout.png" class="nav-item-image"/>
                        Выйти
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="main">
    <div class="info-user">
        <form method="post" action="/file/upload/notedata/<%= id_conclusion %>">
            <h2 style="margin: 0px 0px 10px 30px; text-align: left; ">Добавить дополнительную информацию к документу </h2>
            <hr style="width: 100%;border-bottom: 2px solid #8bb9d5;">
            <h3 style="margin: 5px; font-weight: normal;">Тип документа: <%=type_conclusion%></h3>
            <h3 style=" margin: 5px; font-weight: normal;"> Название: <%=name_conclusion%></h3>
            <hr style="width: 100%;border-bottom: 2px solid #8bb9d5;">
            <div class="profileField">
            <label for="doctor"  class="profileLabel" >ФИО врача:</label>
            <input type="doctor" class="profileInput" name="doctor">
            </div>
            <div class="profileField">
            <label for="place_conclusion" class="profileLabel">Название клиники:</label>
            <input type="text" name="place_conclusion" class="profileInput">
            </div>
            <div class="profileFieldmuch">
            <% if(type_conclusion==='Обследование'|| type_conclusion==='Консультация'||type_conclusion==='Плановый прием'||type_conclusion==='Хроническое заболевание'||type_conclusion==='Другое'||type_conclusion==='Заключение врача')
        { %>    <div class="fuld"> <label for="code" class="profileLabel">Код/Название:</label>
                <input type="text" class="profileInput" name="code">
                </div>
                <div class="fuld">
                <label for="diagnosis" class="profileLabel">Диагноз:</label>
                <input type="text" class="profileInput" name="diagnosis">
                </div>
                <div class="fuld">
                <label for="complaints" class="profileLabel">Жалобы:</label>
                <input type="text" class="profileInput" name="complaints">
                </div>
                <div class="fuld">
                <label for="anamnez" class="profileLabel">Анамнез:</label>
                <input type="text" class="profileInput" name="anamnez">
                </div>
                <div class="fuld">
                <label for="conclusion" class="profileLabel">Заключение:</label>
                <input type="text" class="profileInput" name="conclusion">
                </div>
                <div class="fuld">
                <label for="prescription" class="profileLabel">Назначение рецепта:</label>
                <input type="text" class="profileInput" name="prescription">
            </div>
            </div>
            <div class="profileFieldmuch">
                <% } if (type_conclusion==='Рентген'||type_conclusion==='МРТ'||type_conclusion==='КТ'||type_conclusion==='УЗИ') {%>
                    <div class="fuld">
                        <label for="area" class="profileLabel">Область:</label>
                        <input type="text" class="profileInput" name="area">
                    </div>
                    <div class="fuld">
                        <label for="diagnosis" class="profileLabel">Диагноз:</label>
                        <input type="text" class="profileInput" name="diagnosis">
                    </div>
                    <div class="fuld">
                        <label for="conclusion" class="profileLabel">Заключение:</label>
                        <input type="text" class="profileInput" name="conclusion">
                    </div>
                    <div class="fuld">
                        <label for="prescription" class="profileLabel">Назначение рецепта:</label>
                        <input type="text" class="profileInput" name="prescription">
                    </div>
            </div>
            <div class="profileFieldmuch">
            <% } if (type_conclusion==='Направление')
            {%>             <div class="fuld">
                <label for="purpose" class="profileLabel">Цель:</label>
                <input type="text" class="profileInput"  name="purpose">
            </div>
            <div class="fuld">
                <label for="todoctor" class="profileLabel">К врачу:</label>
                <input type="text" class="profileInput" name="todoctor">
            </div>
            <div class="fuld">
                <label for="justification" class="profileLabel">Обоснование направления:</label>
                <input type="text" class="profileInput" name="justification">
            </div>
            <div class="fuld">
                <label for="diagnosis" class="profileLabel">Диагноз:</label>
                <input type="text" class="profileInput" name="diagnosis">
            </div>
            <div class="fuld">
                <label for="cameto" class="profileLabel">Явиться к доктору:</label>
                <input type="text"  class="profileInput"name="cameto">
            </div>
    </div>
            <div class="profileFieldmuch">
    <% } if (type_conclusion==='Справка')
                {%>
            <div class="fuld"><label for="number" class="profileLabel">Номер справки:</label>
                <input type="text" class="profileInput" name="number">
            </div>
                    <div class="fuld">
                <label for="diagnosis"  class="profileLabel">Перенесенное заболевание:</label>
                <input type="text"  class="profileInput"name="diagnosis">
                    </div>
                    <div class="fuld">
                    </div>
                    <div class="fuld">
                <label for="date_starting"  class="profileLabel">Дата с:</label>
                <input type="text" class="profileInput" name="date_starting">
                <label for="date_finish" class="profileLabel">Дата по:</label>
                <input type="text" class="profileInput" name="date_finish">
                    </div>
            </div>
        <div class="profileFieldmuch">
        <% } if (type_conclusion==='Анализы')
                {%>
                        <div class="fuld"><label for="code" class="profileLabel">Код/Название:</label>
                <input type="text" class="profileInput" name="code">
                        </div>
                        <div class="fuld">
                <label for="conclusion" class="profileLabel">Заключение:</label>
                <input type="text" class="profileInput" name="conclusion">
                        </div>
        </div>
            <div class="profileFieldmuch"> <% }   if (type_conclusion==='Аллергия')
            {%>
                        <div class="fuld"><label for="code" class="profileLabel">Код/Название:</label>
                <input type="text" class="profileInput" name="code">
                        </div>
                    <div class="fuld">
                <label for="allergen" class="profileLabel">Аллерген:</label>
                <input type="text" class="profileInput" name="allergen">
                    </div>
                    <div class="fuld">
                <label for="reaction" class="profileLabel">Реакция:</label>
                <input type="text"  class="profileInput" name="reaction">
                    </div>
                    <div class="fuld">
                <label for="prescription" class="profileLabel">Назначение рецепта:</label>
                <input type="text" class="profileInput" name="prescription">
                    </div>
            </div>
            <div class="profileFieldmuch"><% }  if (type_conclusion==='Прививка')
            {%>
                        <div class="fuld"> <label for="code" class="profileLabel">Код/Название:</label>
                <input type="text" class="profileInput" name="code">
                        </div>
                    <div class="fuld">
                <label for="medication" class="profileLabel">Препарат:</label>
                <input type="text" class="profileInput" name="medication">
                    </div>
                    <div class="fuld">
                <label for="dose" class="profileLabel">Доза:</label>
                <input type="text" class="profileInput" name="dose">
                    </div>
            </div>
            <div class="profileFieldmuch"><% }  if (type_conclusion==='Стоматология')
            {%>
                        <div class="fuld"> <label for="diagnosis" class="profileLabel">Диагноз</label>
                <input type="text" class="profileInput" name="diagnosis">
                        </div>
                    <div class="fuld">
                <label for="complaints" class="profileLabel">Жалобы:</label>
                <input type="text" class="profileInput" name="complaints">
                    </div>
                    <div class="fuld">
                <label for="anamnez" class="profileLabel">Анамнез:</label>
                <input type="text" class="profileInput" name="anamnez">
                    </div>
                    <div class="fuld">
                <label for="conclusion" class="profileLabel">Заключение:</label>
                <input type="text" class="profileInput" name="conclusion">
                    </div>
            </div>
            <% } %>
            <hr style="width: 95%;border-bottom: 1px solid #8bb9d5;">
            <div class="profileField">
            <label for="comment" class="profileLabel">Доп.информация:</label>
            <input type="text" class="profileInput" name="comment" >
            </div>
            <div class="button-container">
            <button type="submit" class="btn">Сохранить</button>
            </div>
        </form>
    </div>
</div>
</div>
<!--end wrap-->
</body>
</html>