

/* СТАЙЛЫ ДЛЯ ВХОДА*/
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	text-align: center;
}

label {
	font-size: 20px;
	margin-bottom: 10px;
	text-align: right;
	width: 100px;
	display: inline-block;
}

input[type="text"],
input[type="password"] {
	width: 300px;
	height: 30px;
	font-size: 18px;
	padding: 5px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	display: inline-block;
}

button[type="submit"] {
	width: 100px;
	height: 40px;
	background-color: #6f98bb;
	color: white;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	margin-top: 20px;
}

#error-msg {
	display: block;
	text-align: center;
	margin-top: 10px;
	align-self: center;
}

/* СТАЙЛЫ ДЛЯ ВХОДА */

/* -------------------- */
/* -- General Styles -- */
/* -------------------- */
#wrap{
	margin: 0 auto;
	max-width: 100%;
	box-sizing: border-box;

}
body{
	font-family:arial, sans-serif;
	background: linear-gradient(rgba(147, 188, 213, 0.5), #ace5c6);
	color:#555;
	line-height:24px;
	font-size:14px;
	margin: 0;
	padding: 0;
}

.home{
	background: rgba(202, 212, 220, 0.7);
	width: 100%; }


/* ------------ */
/* -- Header -- */
/* ------------ */
#header {
	height: 100px;
	width: 100%;
	padding: 0;
	background: rgb(255, 255, 255);
}

#header img {
	height: 100px;
	width: 100%;
}

/* --------- */
/* -- Nav -- */
/* --------- */
#nav {
	width: 150px;
	height: 400px;
	position: fixed;
	top: 110px;
	padding: 0;
	left: 10px;
	bottom: 0;
	overflow-x: hidden;
	background-color: rgba(111, 152, 187, 0.2);
}

.menu {
	list-style-type: none;
	margin: 0;
	padding: 20px 0;

}
/*размер кнопки*/
.menu li {
	margin-bottom: 10px;
}

.menu a {
	display: block;
	padding: 6px 8px 6px 16px;
	color: #646363;
	text-decoration: none;
	font-weight: bold;
}

.menu a:hover {
	background-color: #6f98bb;
}

.menu .current a, .menu li:hover > a{
	color: #424242;
}
.menu ul li:hover a, .menu li:hover li a{
	color: #727272;
}

.menu ul{
	background: #3b3b3b;
	display:none;
	margin:0;
	padding:0;
	width:250px;
	position:absolute;
	top:35px;
	left:20px;
	border:solid 1px #363636;
}
.menu li:hover > ul{
	display:block;
}
.menu ul li{
	float:none;
	margin:0;
	padding:0;
}
.menu ul a{
	font-size:16px;
}
.menu ul ul{
	left:250px;
	top:-3px;
}
.menu li.current_page_item a{
	color: #050505;
}



.recent-projects{
	clear:both;
}

#contact-details{
	float:left;
	width:300px;
	padding:0 120px 0 0;
}

#response{
	background-color:#eee;
	border:1px #ddd solid;
	padding:10px;
	color:#ff0000;
}
/*кнопки вход-регистраци*/
.button-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.login-btn, .register-btn {
	display: inline-block;
	background-color: rgb(111, 152, 187);
	color: #faf7f7;
	font-size: 18px;
	font-weight: bold;
	padding: 15px 25px;
	text-decoration: none;
	border-radius: 20px;
	transition: all 0.3s ease-in-out;
	margin-bottom: 20px;
}

.login-btn:hover, .register-btn:hover {
	background-color: #ffffff;
	color: #0c0c0c;
	border: 2px solid #0a0808;
}
/*кнопки вход-регистраци*/

.profile-image {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 20px;
}

.profile-image img {
	width: 10%;
	height: 10%;
	object-fit: cover;
}

.info-user {
	background-color: #f9f9f9;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 10px;
}

.info-user h {
	font-size: 18px;
	margin-bottom: 10px;
}

.info-user button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	border-radius: 5px;
	cursor: pointer;
}

.info-user button:hover {
	background-color: #3e8e41;
}