@import url('https://fonts.cdnfonts.com/css/roboto');

#wrap{
	margin: 0 auto;
	max-width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
#main{
	margin-top: 25px;
	padding: 15px;
	display: flex;
	justify-content: center;
	margin-left: 170px; /* ширина #nav + отступ между #nav и #main */
}
#mainhome{
	margin-top: 25px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	margin-left: 170px; /* ширина #nav + отступ между #nav и #main */
}
#mainVisit{
	margin-top: 25px;
	padding: 15px;
	display: flex;
	margin-left: 170px;
	flex-direction: column;
	margin-right: 50px;/* ширина #nav + отступ между #nav и #main */
}
#mainCarta{
	margin-top: 5px;
	padding: 15px;
	justify-content: center;
	margin-left: 220px;
	margin-right: 50px;/* ширина #nav + отступ между #nav и #main */
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #000000;
	line-height:24px;
	margin: 0;
	padding: 0;
}

.home{
	background: rgba(222, 233, 248, 0.75);
	width: 100%; }


/* ------------ */
/* -- Header -- */
/* ------------ */
#header {
	height: 100px;
	width: 100%;
	padding: 0;
	background: rgb(255, 255, 255);
	align-items: center;
	justify-content: space-between;
}

#logo {
	height: 100px;
	width: 100%;
}

/* --------- */
/* -- МЕНЮ -- */
/* --------- */
#nav {
	width: 200px;
	height: 325px;
	position: fixed;
	top: 110px;
	padding: 0;
	left: 10px;
	bottom: 0;
	overflow-x: hidden;
	background-color: rgba(255, 255, 255, 0.75);
	display: flex;
	border-radius: 10px;


}
.menu {
	list-style-type: none;
	margin: 0;
	padding: 20px 0;


}

.menu li {
	margin-bottom: 10px;
	display: flex; /* добавляем display: flex для li */
	align-items: center;
	margin-left: 13px;

	/* выравниваем содержимое по вертикали */
}

.menu a {
	display: flex;
	align-items: center;
	padding: 4px 13px;
	color: #282828;
	text-decoration: none;
	font-weight: bold;
	height: 40px;
	font-size: 15px;
	border-radius: 10px;
	width: 140px;
	margin-left: 5px;
}

.menu a:hover {
	background-color: #e0d7d7;
}

.current_page_item a {
	background-color: rgba(0, 123, 255, 0.75);
	color: #fff;
}

.nav-item-image {
	width: 20px;
	height: 20px;
	margin-right: 15px;
	margin-left: 3px;

}
/*менюшка закончена*/
.button-containerindex{
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 500px;
}
.button-container{
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;

}
.btn-index{
	width: 200px;
	height: 60px;
	margin-bottom: 30px;
	line-height: 60px;
	text-align: center;
	text-decoration: none;
	background-color: rgb(124, 166, 201);
	color: black;
	border-radius: 7px;
}

/* СТАЙЛЫ ДЛЯ ВХОДА*/
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 10px;
}
.logIn{
	display: block;
	align-items: center;
	text-align: center;
	max-width: 600px;
	max-height: 400px;
	margin: 0 auto;
	background-color: #f8f8f8;
	border-radius: 5px;
	padding: 35px;
	justify-content: center;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

}
.Reg{
	display: block;
	align-items: center;
	text-align: center;
	max-width: 600px;
	max-height: 400px;
	margin: 50px;
	background-color: #f8f8f8;
	border-radius: 5px;
	padding: 20px;
	justify-content: center;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

label {
	font-family: 'Roboto', sans-serif;
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	font-size: 15px;
}
input[type="password"],.inpLog,.PassTogl {
	width: 300px;
	height: 30px;
	padding: 5px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	display: inline-block;
	border: 1px solid rgba(10, 8, 8, 0.5);
	background-color: #eee;
	font-size: 16px;
	color: #000000;
}
input[type="password"],.PassTogl {
	width: 285px;}

.password-toggle i {
	font-size: 15px;
}

#save-button,#edit-button,#delete-button{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	width: 140px;
	height: 40px;
	appearance: none;
	border: 0;
	border-radius: 7px;
	background-color: rgb(139, 181, 217);
	color: black;
	font-size: 1rem;
	cursor: pointer;
}

.button,.btn{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	width: 170px;
	height: 50px;
	appearance: none;
	border: 0;
	border-radius: 7px;
	background-color: rgb(124, 166, 201);
	color: black;
	font-size: 1rem;
	cursor: pointer;
	text-decoration: none;
}
.button:hover,.btn:hover,.btn-index:hover,#add-record-btn:hover,.btn-cont:hover {
	background-color: rgba(0, 123, 255, 0.75);
	text-decoration: none;
	color: #fff;


}

.button:focus,.btn:focus,.btn-index:focus,#add-record-btn:focus,.btn-cont:focus {
	outline: none;
	box-shadow: 0 0 0 4px #ffffff;
	text-decoration: none;

}
#error-msg {
	display: block;
	text-align: center;
	margin-top: 10px;
	align-self: center;
	font-size: 16px;
	color: #b61427;

}
#cussc{
	color: #2cc570;
	margin-bottom: 15px;
}
/* СТАЙЛЫ ДЛЯ ВХОДА */

/* -------------------- */
/* -- General Styles -- */
/* -------------------- */
#ProfileMain{
	width:  auto;
	height: auto;
	margin-top: 25px;
	padding: 15px;
	display: flex;
	justify-content: center;
	margin-left: 170px; /* ширина #nav + отступ между #nav и #main */
}
.profileField {
	margin-top: 5px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	font-size: 15px;/* Центрируем элементы по вертикали */
}
.profileLabel{
	text-align: left;
	margin-left: 10px;
	white-space: nowrap;
	width: 190px; /* Ширина для меток */
	line-height: 24px; /* Высота строки */
}
textarea.profileTextarea {
	font-family: 'Roboto', sans-serif;

	margin-left: 5px;
	width: 130px;
	flex-grow: 1;
	height: 50px;
	padding: 2px;
	font-size: 15px;
	line-height: 1.5;
	color: #000000;
	background-color: transparent;
	border: 1px solid rgba(111, 152, 187, 0.5);
	border-radius: 3px;
	resize: vertical;
	overflow: auto;

}

.profileInput {
	width: 130px;
	flex-grow: 1;
	margin-left: 5px;
	border: 1px solid rgba(111, 152, 187, 0.5);
	padding: 2px;
	background-color: white;
	font-size: 15px; /* Центрируем элементы по вертикали */
	border-radius: 3px;
	line-height: 24px; /* Высота строки */
	height: 24px; /* Высота инпутов */
}
.profileInput:hover,textarea.profileTextarea:hover{
	border: 2px solid #0080ff;
}
.phone-input {
	display: flex;
	align-items: center;
	flex-grow: 1;
	line-height: 24px; /* Высота строки */
	height: 24px; /* Высота инпутов */
}
.phone-input input {
	flex-grow: 1;
}
.gender-container label input:checked {
	margin-bottom: 10px;
	background-color: #007bff;
	color: #fff;
	text-align: left;
}
.profileInput:focus,.phone-input:focus,textarea.profileTextarea:focus{
	outline: none;
	box-shadow: 0 0 0 2px #0080ff;
	text-decoration: none;
}
.info-user {
	align-items: baseline;
	display: block;
	width: 700px;
	margin: 0 auto;
	background-color: #f8f8f8;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	text-align: left;

}

.profile-image {
	float: right;
	margin-right: 75px;
	width: 320px;
	height: 360px;
	display: block;
	max-width: 720px;
	background-color: rgb(247, 247, 247);
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	text-align: left;
}

.profile-photo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 2px solid #8bb9d5;
	overflow: hidden;
	margin: 10px auto;
	background-color: #ffffff;
}

.profile-photo img {
	max-width: 90%;
	max-height: 90%;
	display: block;
	margin: 0 auto;
}

.select-photo {
	display: block;
	margin: 12px auto 0;
	padding: 10px 10px;
	border-radius: 5px;
	background-color: #8ab4d8;
	color: #fff;
	cursor: pointer;
	border: 2px solid #8bb9d5;

}

.recent-projects{
	clear:both;
}

#contact-details{
	float:left;
	width:300px;
	padding:0 120px 0 0;
}

#response{
	background-color:#eee;
	border:1px #ddd solid;
	padding:10px;
	color:#ff0000;
}
.error-message {
	background-color: #ffcccc;
	color: #ff0000;
	border: 1px solid #ff0000;
	padding: 10px;
	margin-bottom: 10px;
}


/* styles for info-user container */

/* styles for input labels */


/* styles for input fields */
select {
	display: block;
	width: 100%;
	height: 30px;
	padding: 10px;
	border-radius: 3px;
	border: none;
	background-color: #eee;
	font-size: 16px;
	color: #000000;
}

/* styles for phone-input container */
.phone-input {
	display: flex;
	flex-wrap: wrap;
}

/* styles for phone input sub-elements */
.country-code,
.separator,
.area-code,
.number {
	display: inline-block;
	padding: 10px;
	background-color: #eee;
	border-radius: 5px;
	margin-right: 5px;
	font-size: 16px;
	color: #555;
}


/*CAAAAAAAAAAAAAAAARTAAAAAAAAA*/
#add-record-btn{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	width: 250px;
	height: 40px;
	appearance: none;
	border: 0;
	border-radius: 7px;
	background-color: rgb(139, 181, 217);
	color: #ffffff;
	font-size: 16px;
	cursor: pointer;
	line-height: 38px; /* Выравнивание цвета посередине кнопки */
	margin-left: auto;
	margin-right: 50px;
}
.add-item-image {
	width: 25px;
	height: 25px;
	margin-right: 15px;
	margin-top: 7px;

}
.find {
width: 100%;
	margin-bottom: 10px;

}

.find select {
	padding: 10px;
	border: 2px solid rgba(111, 152, 187, 0.5);
	border-radius: 5px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #333;
	background-color: #356a8a;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
	transition: all 0.3s ease;
}

.find select:focus {
	border-color: #00BFFF;
}

.find .selectize-control .selectize-input.focus {
	border-color: #00BFFF;
}

.find .selectize-control .selectize-input {
	display: flex;
	align-items: center;
}

.find .selectize-control .selectize-input > *:not(:last-child) {
	margin-right: 10px;
}

.find .selectize-control .selectize-dropdown {
	margin-top: 5px;
	border: 2px solid #93bcd5;
	border-top: none;
	border-radius: 0 0 5px 5px;
	background-color: #ffffff;
	box-shadow: 0 5px 10px rgba(138, 134, 134, 0.2);
	overflow: hidden;
	max-height: 200px;
	z-index: 1;
}

.find .selectize-control .selectize-dropdown .selectize-dropdown-content {
	padding: 10px;
	overflow-y: auto;
}

.find .selectize-control .selectize-dropdown .selectize-dropdown-content .option {
	padding: 5px 10px;
	font-size: 16px;
	color: #333;
	cursor: pointer;
	transition: all 0.3s ease;
}

.find .selectize-control .selectize-dropdown .selectize-dropdown-content .option:hover {
	background-color: rgb(138, 180, 216);
}

.find .selectize-control .selectize-dropdown .selectize-dropdown-content .create {
	padding: 5px 10px;
	font-size: 16px;
	color: #8ab4d8;
	cursor: pointer;
	transition: all 0.3s ease;
}

.find .selectize-control .selectize-dropdown .selectize-dropdown-content .create:hover {
	background-color: #8ab4d8;
}
/**********/

.filter-btn {
	background-color: rgb(148, 190, 225);
	border: none;
	color: #ffffff;
	padding: 8px 16px;
	margin: 5px 5px 5px 5px;
	font-size: 16px;
	cursor: pointer;
	line-height: 0.8;
	border-radius: 20px;
}
.filter-btn:hover {
	background-color: rgb(125, 195, 255);
	text-decoration: none;
	color: #000000;

}
.filter-btn.active {
	background-color: #3e9afe;
	border-color: #5595da;
	color: #000000;
}
.filter-btn-no {
	background-color: rgb(148, 190, 225);
	border: none;
	color: #ffffff;
	padding: 8px 16px;
	margin: 5px 5px 5px 5px;
	font-size: 16px;
	cursor: pointer;
	line-height: 0.8;
	border-radius: 20px;
}
.filter-btn-no:hover {
	background-color: rgb(125, 195, 255);
	text-decoration: none;
	color: #000000;

}
.filter-btn-no.active {
	background-color: #3e9afe;
	border-color: #5595da;
	color: #000000;
}
/*сортировка*/

#galery-sort{
	display: flex;
}

.sort-wrapper {
	display: flex;
	width: 300px;
	height: 400px;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px rgb(206, 230, 245);
	text-align: center;
	margin-left: 50px;
	flex-direction: column;
	align-content: center;
}
.sort-btn {
	width: 75%;
	height: 40%;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	background-color: #ffffff;
	border: 1px solid #eeecec;
	box-shadow: 0 0 4px #c5c3c3;
	color: black;
	padding: 6px 10px;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	font-size: 14px;
	text-decoration: none;
}
.sort-btn-text {
	flex-grow: 1;
	text-align: left;
	margin-left: 20px;
}

.nav-item-image-sort {
	width: 15px;
	height: 15px;
	margin-left:10px;

}
.sort-btn:hover {
	background-color: #ffffff;
	border-color: #656565;
}

.sub-sort-list {
	width: 150px;
	display: none;
	position: absolute;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-radius: 0px;
	padding: 5px;
	margin-top: 3px;
	margin-left: 30px;
	box-shadow: 0 0 4px #c4c4c4;

}
.sub-sort-list-typedoc {
	width: 200px;
	display: none;
	max-height: 150px; /* максимальная высота */
	overflow-y: auto; /* добавление прокрутки */
	position: absolute;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-radius: 0px;
	padding: 5px;
	margin-top: 3px;
	margin-left: 30px;
	box-shadow: 0 0 4px #c4c4c4;

}
.butonforsortdoc{
	width: 100%;
	display: inline-block;
	background: white;
	border: white;
	align-items: center;
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	border-radius: 1px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.butonforsort{
	height: 35px;
	width: 100%;
	display: inline-block;
	background: white;
	border: white;
	align-items: center;
	margin-top: 3px;
	margin-bottom: 3px;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	border-radius: 1px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.sub-sort-list li:hover,.butonforsort:hover, .butonforsortdoc:hover{
	background: #d7d3d3;
	border: 2px solid #ffffff;

}
.butonok{
	background-color: #ffffff;
	border: 1px solid #eeecec;
	box-shadow: 0 0 4px #c5c3c3;
	color: black;
}
.butonok:hover{
	background-color: #93bcd5;
	border: 1px solid #eeecec;
	box-shadow: 0 0 4px #c5c3c3;
	color: black;
}
.nav-item-image-data {
	width: 20px;
	height: 20px;
	margin-left: 5px;

}
/******/
.galery-list{
	justify-content: left;
	align-items: center;
	gap: 20px;
	border-radius: 5px;
	padding: 10px;
	text-align: left;
	width: 1350px;
}
#gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
	gap: 20px;
	margin-top: 10px;
}

.file {
	position: relative;
	width: 220px;
	height: 220px;
	overflow: hidden;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

}

.file img {

	max-width: 220px;
	max-height: 220px;
	object-fit: cover;
	width: 210px;
	height: 210px;
	object-position: center;
	background-color: rgba(253, 253, 254, 0.5);
	padding: 10px;

}


.forfilelist{
	display: flex;
	flex-direction: row;
	margin: 5px;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 4px;
	box-shadow: 0px 0px 5px 0px rgb(173, 165, 165);

}
.filecart {
	position: relative;
	width: 220px;
	height: auto;
	display: flex;
	margin: 5px 10px 0px 10px;
	object-position: center;
	border-radius: 10px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.filecart img {
	object-position: center;
	max-width: 200px;
	max-height: 200px;
	object-fit: cover;
	width: 200px;
	height: 200px;
}
.infifile{
	margin: 10px 0px 0px 10px;
	object-position: left;
height: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.file-name {
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.25);
	color: #fff;
	padding: 5px;
	box-sizing: border-box;
	font-size: 16px;
}
.visit-name-list {
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
	border: 1px solid #f3f3f5;

}
.image-upload {
	max-width: 500px;
	margin: 0 auto;
	background-color: #f8f8f8;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}


/* стили для модального окна */
/* стили для модального окна */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9998;
	display: none;
}
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	border-radius: 5px;
	display: none;
	padding: 10px;
}

.modal img {
	width: auto;
	height: auto;
	max-height: 650px;
	max-width: 650px;
	margin: auto;
	box-shadow: 0px 0px 3px rgb(214, 229, 238);

}

.close-btn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	cursor: pointer;
	color: #00ff77;
	z-index: 1;

}

.close-btn i {
	font-size: 30px;
}
/* стили для полей формы */


.ps{

	margin-left: 100px;

}
/**********/


.show {
	display: block;
}

/*ФОРМА ДЛЯ ЗАПИСИ ЗАКЛЮЧЕНИЯ*/
.info-concl {
	display: flex;
	flex-direction: column;
	width: 800px;
	margin: 50px auto;
	background-color: #f8f8f8;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	text-align: left;
}
.typetwo{
	display: flex;
	flex-direction: row;
	height: auto;
;}

.profileFieldFile {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 15px;/* Центрируем элементы по вертикали */
}

.btn-cont{
	align-content: center;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	width: 140px;
	height: 40px;
	appearance: none;
	border: 0;
	border-radius: 7px;
	background-color: rgb(139, 181, 217);
	color: #ffffff;
	font-size: 1rem;
	cursor: pointer;
	text-decoration: none;

}
.add-item-image-cont {
	width: 35px;
	height: 35px;

}
.input-file{
	margin-left: 55px;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(247, 247, 247);
	text-align: center;
	border-radius: 4px;
	background-color: #8bafd2;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

/* Focus */
.input-file input[type=file]:focus + span {
	box-shadow: 0 0 5px #3e9afe;
}

/* Hover/active */
.input-file:hover span {
	background-color: rgb(62, 154, 254);
}
.input-file:active span {
	background-color: rgb(62, 154, 254);
}

/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}

/* Список c превью */
.input-file-list {
	padding: 10px 0;
	margin-left: 350px;
}
.input-file-list-item {
	display: inline-block;
	margin: 10px 5px 5px;
	width: 150px;
	vertical-align: top;
	position: relative;
}
.input-file-list-item img {
	width: 150px;
}
.input-file-list-name {
	text-align: center;
	display: block;
	font-size: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.input-file-list-remove {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	position: absolute;
	padding: 0;
	margin: 0;
	top: 5px;
	right: 5px;
	background: #ff0202;
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	border-radius: 50%;
}
.profileFieldmuch
{
	display: flex;
	flex-direction: column;
}
.fuld{
	margin-top: 5px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	font-size: 15px;
}
#edit-button,#delete-button,#save-button{
	width: auto;
background: #8bb9d5;
	height: 35px;
	display: flex;
	align-items: center;
	box-shadow: 0 0 5px #6f747a;

}
#edit-button:hover,#delete-button:hover,#save-button:hover{
	width: auto;
	box-shadow: 0 0 5px #0080ff;
	height: 35px;
	display: flex;
	align-items: center;
	background: #00BFFF;
}

.fileimg {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.fileimg img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	object-position: center;
	box-shadow: 0 0 10px #0080ff;


}

#filelist {
	display: none;
flex-direction: column;
	justify-content: left;

}


#view-switcher {
	display: flex;
	flex-direction: row;
	justify-content: right;
	margin-bottom: 2px;
	margin-top: 2px;
}
.listwiew i, .gallerywiew i {
	color: rgba(114, 112, 112, 0.7);
	font-size: 20px;
}
.listwiew i:hover, .gallerywiew i:hover {
	color: #000000;
}
.visit-name{
	width: 150px;
}
#modal-visit {
	display: none;
	position: fixed;
	flex-direction: column;
	top: 47%;
	left: 86%;
	transform: translate(-50%, -50%);
	width: 250px;
	height:auto;
	background-color: #f8f8f8;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	z-index: 9999;
}
.modal-content{
}
.visitInput{
	width: 100%;
	flex-grow: 1;
	padding: 2px;
	border: 1px solid rgba(111, 152, 187, 0.5);
	padding: 2px;
	background-color: white;
	font-size: 15px; /* Центрируем элементы по вертикали */
	border-radius: 3px;
	line-height: 24px; /* Высота строки */
	height: 24px; /* Высота инпутов */
}

.calendar-wrapper {
	width: 450px;
	padding: 20px;
	margin-left: 100px;
	border: 1px solid #dcdcff;
	border-radius: 10px;
	background: #fff;
}
table {
	clear: both;
	width: 100%;
	border: 1px solid #dcdcff;
	border-radius: 3px;
	border-collapse: collapse;
	color: #444;
}
td {
	height: 48px;
	text-align: center;
	vertical-align: middle;
	border-right: 1px solid #dcdcff;
	border-top: 1px solid #dcdcff;
	width: 14.28571429%;
}
thead td {
	border: none;
	color: #28283b;
	text-transform: uppercase;
	font-size: 1.5em;
}
td.today {
	font-weight: 700;
	color: #28283b;
	font-size: 1.5em;
}
td.not-current {
	color: #c0c0c0;
}
#btnPrev {
	float: left;
	margin-bottom: 20px;
}
#btnPrev:before {
	content: '\f104';
	font-family: FontAwesome;
	padding-right: 4px;
}
#btnNext {
	float: right;
	margin-bottom: 20px;
}
#btnNext:after {
	content: '\f105';
	font-family: FontAwesome;
	padding-left: 4px;
}
#btnPrev,
#btnNext {
	background: transparent;
	border: none;
	outline: none;
	font-size: 1em;
	color: #c0c0c0;
	cursor: pointer;
	font-family: sans-serif;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
#btnPrev:hover,
#btnNext:hover {
	color: #28283b;
	font-weight: bold;
}
.visitlast,.visitFeature{

	border: 1px solid rgba(111, 152, 187, 0.5);
	padding: 5px;
	background-color: white;
	width: auto;
	min-width: 200px;
	height: auto;
	margin-right: 20px;
	border-radius: 10px;
}
.file-name-inp{
	width: 150px;
}
.visit-name{
	width: 80px;
}
.file-name-list {
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
}
.file-name-data{
	display: flex;
	text-align: center;
	margin-bottom: 5px;
}
#modal_calendar {
	width: auto;
	height: auto;
	background-color: rgba(37, 32, 32, 0.7);
	color: white;
}
.visit-cal-name{
	margin: 0px;
	text-align: left;
}